@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

}


.logo h1 {
    font-family: "Work Sans", sans-serif;

}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.links h3 a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}

#contact-btn {
    background-color: #9929FB;
    padding: 13px;
    border-radius: 4px;
}

#contact-btn a {
    color: white;
}



/* HERO SECTION  */
#hero-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
}



/* LEFT SIDE DIV  */



.leftSideDiv {
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: "Work Sans", sans-serif;
    flex-direction: column;
    gap: 10px;
}


.content h1 {
    font-size: 50px;
}

.content button {
    background-color: #9929FB;
    padding: 13px;
    border-radius: 4px;
    border: none;
    color: white;
}


/* RIGHT SIDE DIV  */

.rightSideDiv {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSideDiv .img-div {
    width: 60%;
    height: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSideDiv .img-div img {
    width: 100%;
    height: 80%;
}